// grayscales
$gray-100: #f2f2f2;
$gray-200: #eeedec;
$gray-300: #e4e0df;
$gray-400: #d9d2d0;
$gray-500: #a8a0a0;
$gray-600: #847c7c;
$gray-700: #6d6565;
$gray-800: #505050;
$gray-900: #1c1c1c;

// main background-color
$background-color-page: white;

// primary color palette
$color-primary: #227C9D;
$color-secondary: #FE6D73;
$color-text: $color-primary;

// animation
$transition-speed: 130ms;

// border
$border-radius: 5px;
$color-border: $color-primary;

// standard padding
$padding: 2rem;
$padding-mobile: 1rem;

$header-height: 80px;
